.container {
  display: flex;
  flex-direction: column;
  margin: 2rem;
  background-color: #eaffd0;
  padding: 2rem;
  border-radius: 1rem;

  color: #f38181;
}

.header {
  font-size: 2rem;
  font-family: inherit;
  font-weight: 900;
  text-align: center;
}

.smallContainer {
  display: flex;
  flex-direction: row;
  background-color: #eaffd0;
  justify-content: center;
  border-radius: 1rem;
  padding: 0.3rem;
  max-width: 6.43rem;
  flex-grow: 1;

  color: #f38181;
}

.smallHeader {
  font-size: 1.4rem;
  font-family: inherit;
  font-weight: 900;
  text-align: center;
}

.turn {
  background-color: #f38181;
  color: white;
}
