@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

html {
  font-size: 25px;
}

@media only screen and (max-height: 740px) {
  html {
    font-size: 20px;
  }
}
@media only screen and (max-height: 570px) {
  html {
    font-size: 15px;
  }
}

body {
  background-color: #95e1d3;
  user-select: none;
  margin: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
html,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

* {
  -webkit-tap-highlight-color: transparent;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
